---
layout: post
---
<style>
.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
  color: #ff3399
}

.PageNavigation .next {
  text-align: right;
}
</style>
<hr>
<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="/my-golang-contributor-sabbatical{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% else %}
    <a class="prev" ></a> <!-- to fix the first blog post -->
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="/my-golang-contributor-sabbatical{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
<hr>
<br>
{{ content }}
<hr>
<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="/my-golang-contributor-sabbatical{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% else %}
    <a class="prev" ></a> <!-- to fix the first blog post -->
  {% endif %}
  {% if page.next.url %}
  <a class="next" href="/my-golang-contributor-sabbatical{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
<hr>

